/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.page-header {
  color: #606D80;
  font-size: 40px;
  font-weight: bolder;
  text-transform: capitalize;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
  margin-top: 100px;
  width: 90%;
}

form {
  margin-top: 15px;
}

.navbar-fixed-top{
  background-color: #DCE0E6;
  border-color: #DCE0E6;
  margin: auto;
  margin-top: 10px;
  min-height: 60px;
  padding-left: 8px;
  padding-top: 4px;
  width: 90%;
}

.navbar-inverse .navbar-brand {
  color: #606D80;
  font-size: 32px;
  font-weight: bolder;
}

.form-control {
  height: 37px;
}

input {
  width: 100%;
}

h2 {
  color: #607890;
  text-decoration: underline;
  text-transform: capitalize;
}
h3 {
  color: #607890;
}

p {
  color: #031634;
}

.bg-danger {
  color: #FE4365;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
}

#map-canvas {
  height: 70%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.navbar-brand:hover {
  cursor:pointer;
}
