/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.page-header h1 {
  color: #606D80;
  font-size: 40px;
  font-weight: bolder;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
  margin: 20px 0;
}

.jumbotron{
  background-color: #DCE0E6;
}

.form-control {
  width: 500px;
}

h2 {
  color: #607890;
  text-decoration: underline;
  text-transform: capitalize;
}
h3 {
  color: #607890;
}

p {
  color: #031634;
}

.bg-danger {
  color: #FE4365;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
}

#map-canvas {
  height: 58%;
  margin: 0px;
  padding: 0px;
  width: 80%;
}
